<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>AdonisJs simplicity will make you feel confident about your code</p>
      <p>
        Say Welcome! <a href="{{route('Welcome')}}">Go to welcome</a>.
      </p>
    </div>
  </section>
</body>
</html>
